$primary-color: #3180F5;
$h1-text-color: #000000;
$paragraph-text-color: #595959;

#hero {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .hero_content {
        display: flex;
        flex-direction: column;
        width: 60%;

        padding: 10px 0;

        h1 {
            font-size: 74px;
            font-weight: 700;
            line-height: 90px;
            
            color: $h1-text-color;
            max-width: 788px;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 24px;
            line-height: 39px;
            font-weight: 400;
            
            color: $paragraph-text-color;
            max-width: 788px;
            margin-bottom: 20px;
        }

        .btn_and_learnMore {
            display: flex;
            align-items: center;
            gap: 25px;

            button {
                max-width: 340px;
            }

            a {
                display: flex;
                align-items: center;
                gap: 10px;

                text-decoration: none;
                font-weight: 700;
                font-size: 24px;
                color: $primary-color;
            }
        }

        .users_avatar {
            margin: 20px 0;
            display: flex;
            align-items: flex-start;
            
            img {
                margin-right: -25px;
            }

        }
    }

    .hero_img {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
            height: 80vh;
        }
    }

    .user_avatar_description {
        
        p {
            font-size: 24px;
            line-height: 39px;
            font-weight: 400;
            
            max-width: 642px;
            color: $paragraph-text-color;

            span {
                color: $primary-color;
                font-weight: 700;
            }
        }
    }
}