$bg-color-container-hero: #FBF8F3;

#home {
    width: 100%;

    .container_hero {
        width: 100%;
        height: 100vh;
        background-color: $bg-color-container-hero;

        .container_hero_content {
            max-width: 1440px;
            margin: 0 auto;
        }
    }
}