$primary-color: #3180F5;
$menu-text-color: #595959;
$drop-shadow-color: #e9f1f1;
$bg-color-container: #FBF8F3;

#navbar {
    height: 150px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
        text-decoration: none;
        color: $primary-color;
        font-style: italic;

        h1 {
            font-size: 26px;
            line-height: 31px;
            font-weight: 700;
        }
    }

    .hamburger {
        display: none;
    }

    .nav_links {
        display: flex;
        align-items: center;
        gap: 37px;

        a {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            text-decoration: none;
            color: $menu-text-color;
            transition: .5s ease;

            &:nth-child(3) {
                text-transform: uppercase;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }

    @media screen and (max-width: 980px) {
        padding: 0 20px;
        
        .hamburger {
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: fixed;
            top: 50px;
            right: 20px;

            background-color: $bg-color-container;
            border: 1px solid darken($bg-color-container, 10);
            padding: 10px;
            border-radius: 10px;

            font-size: 30px;
            cursor: pointer;

            filter: drop-shadow(-5px 11px 10px darken($drop-shadow-color, 5));

            transition: .5s ease;
        }

        .nav_links {
            
            flex-direction: column;
            
            height: 100vh;
            background-color: aliceblue;
            filter: drop-shadow(-5px 11px 10px rgba(147, 158, 170, 0.555));
            
            margin: 0;
            
            width: 100%;
            max-width: 450px;
            
            padding: 150px 20px;
            transition: all 0.5s ease;
            
            position: fixed;
            top: 0;
            right: -500px;

            
            &.active {
                right: 0;                
                z-index: 888;
            }
        }
    }
}